body {
    padding: 0px 350px 100px 350px;
}
h1 {
    text-align: center; 
    font-size: 2em;
    padding-bottom: 20px;
}

#mother {
    display: flex; 
    flex-wrap: wrap;  
  }
  
.eachGrid {
    height: auto; 
    padding: 3%; 
    border: 1px solid black; 
    background-color: green;
}
.dots {
    margin: 0 auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    pointer-events: none;
}