body {
  padding: 0px 350px 100px 350px;
  background-image: url("https://i.imgur.com/LR8oZQz.jpg");
  
}
h1 {
  text-align: center; 
  font-size: 2em;
  padding-bottom: 20px;
  font-family: 'Lemonada', cursive;
}

h2 {
  text-align: center; 
  font-family: 'Lemonada', cursive;
  color: #6B0608;
}

aside {
  display: flex; 
  justify-content: flex-end;
  padding-bottom: 20px; 
  font-family: 'Baloo Tamma 2', cursive;
}
span {
  display: inline; 
  padding-right: 60px;
  padding-left: 5px;
}

#mother {
  display: flex; 
  flex-wrap: wrap; 
}
  
.eachGrid {
  border: 1px solid black; 
  background-color: green;
  width: 9%;
  padding: 1%;
}

.circle {
  border-radius: 50%;
  padding: 50%;
}

#button {
  display: flex; 
  justify-content: space-evenly;
  padding: 20px;
}
button {
  padding: 15px; 
  font-size: 20px; 
  text-align: center; 
  border-radius: 10%;
  font-family: 'Baloo Tamma 2', cursive;
}